.font {
  font-family: 'Raleway', sans-serif;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: 'Raleway', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
h4 {
  font-size: 2.4rem;
}
h5 {
  font-size: 2rem;
}
h6 {
  font-size: 1.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 5%;
  margin-right: 5%;
}
.navigation .pr-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation .pr-logo img {
  width: 30px;
}
.navigation .pr-logo #clippy {
  margin-left: 5%;
  text-decoration: none;
  color: black;
  font-size: 2.8rem;
  font-weight: bold;
}
.navigation .links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 5%;
  margin-left: -20%;
}
@media (max-width: 500px) {
  .navigation .links {
    margin-left: -40%;
  }
}
.navigation .links a {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: black;
  font-size: 2rem;
  padding-right: 50px;
}
@media (max-width: 500px) {
  .navigation .links a {
    padding-right: 30px;
  }
}
.navigation .links button {
  color: white;
  background: #415F85;
  border: none;
  padding: 5px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem;
  border-radius: 4px;
}
.navigation .links button:hover {
  background: #304763;
  color: #e6e6e6;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F5F5F5;
  margin-top: 20px;
  height: 80px;
}
footer p {
  color: black;
}
.pr-top-section {
  display: flex;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
}
@media (max-width: 500px) {
  .pr-top-section {
    display: flex;
    flex-direction: column;
  }
}
.pr-top-section img {
  width: 55%;
  padding-right: 20px;
}
@media (max-width: 500px) {
  .pr-top-section img {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 25px;
  }
}
.pr-top-section .pr-get-started {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
@media (max-width: 500px) {
  .pr-top-section .pr-get-started {
    width: 100%;
    border-top: 30px;
  }
}
.pr-top-section .pr-get-started h2 {
  padding-bottom: 20px;
  font-size: 4rem;
}
@media (max-width: 600px) {
  .pr-top-section .pr-get-started h2 {
    font-size: 3.8rem;
  }
}
@media (max-width: 500px) {
  .pr-top-section .pr-get-started h2 {
    font-size: 4rem;
  }
}
.pr-top-section .pr-get-started button {
  color: white;
  background: #415F85;
  border: none;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem;
  border-radius: 4px;
  margin-bottom: 10px;
}
.pr-top-section .pr-get-started button:hover {
  background: #304763;
  color: #e6e6e6;
}
.pr-middle-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
.pr-middle-section p {
  width: 90%;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 1.8rem;
}
@media (max-width: 500px) {
  .pr-middle-section p {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 90%;
  }
}
.pr-bottom-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pr-bottom-section h3 {
  margin-bottom: 50px;
  font-weight: bold;
}
@media (max-width: 500px) {
  .pr-bottom-section h3 {
    margin-bottom: -20px;
  }
}
.pr-bottom-section #pr-bottom-top-div {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-right: 5%;
}
@media (max-width: 500px) {
  .pr-bottom-section #pr-bottom-top-div {
    display: flex;
    flex-direction: column-reverse;
    margin-top: -40px;
  }
}
.pr-bottom-section #pr-bottom-top-div img {
  width: 50%;
}
@media (max-width: 500px) {
  .pr-bottom-section #pr-bottom-top-div img {
    width: 100%;
  }
}
.pr-bottom-section #pr-bottom-top-div p {
  margin-top: 100px;
  width: 47%;
  margin-left: 3%;
  text-align: left;
  font-size: 2.2rem;
}
@media (max-width: 500px) {
  .pr-bottom-section #pr-bottom-top-div p {
    width: 90%;
    margin-bottom: 20px;
    margin-left: 0;
  }
}
.pr-bottom-section #pr-bottom-middle-div {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-right: 5%;
}
@media (max-width: 500px) {
  .pr-bottom-section #pr-bottom-middle-div {
    display: flex;
    flex-direction: column;
  }
}
.pr-bottom-section #pr-bottom-middle-div p {
  margin-top: 100px;
  width: 47%;
  text-align: left;
  font-size: 2.2rem;
}
@media (max-width: 500px) {
  .pr-bottom-section #pr-bottom-middle-div p {
    width: 90%;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}
.pr-bottom-section #pr-bottom-middle-div img {
  width: 50%;
  margin-left: 3%;
}
@media (max-width: 500px) {
  .pr-bottom-section #pr-bottom-middle-div img {
    width: 100%;
    margin-left: 0;
  }
}
.pr-bottom-section #pr-bottom-div {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 20px;
}
@media (max-width: 500px) {
  .pr-bottom-section #pr-bottom-div {
    display: flex;
    flex-direction: column-reverse;
  }
}
.pr-bottom-section #pr-bottom-div img {
  width: 50%;
}
@media (max-width: 500px) {
  .pr-bottom-section #pr-bottom-div img {
    width: 100%;
    margin-bottom: 0;
  }
}
.pr-bottom-section #pr-bottom-div p {
  margin-top: 100px;
  width: 47%;
  margin-left: 3%;
  text-align: left;
  font-size: 2.2rem;
}
@media (max-width: 500px) {
  .pr-bottom-section #pr-bottom-div p {
    margin-left: 0;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
