//Patrick's styles

.pr-top-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;

    div {
        display: flex;
        align-items: center;
        justify-content: center;
    
        img{
            width: 55%;
            padding-right: 20px;
        }
    }

    .pr-get-started {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;

        h2 {
            padding-bottom: 20px;
            font-size: 4rem;
        }
        button {
            color: @buttonColor;
            background: @buttonBackground;
            border: none;
            padding: 10px 50px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 1.6rem;
            border-radius: 4px;
            margin-bottom: 10px;
            
            &:hover {
             background: darken(@buttonBackground, 10%);
             color: darken(@buttonColor, 10%);
            }  
        }
    }
}

.pr-middle-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;

    p {
        width: 90%;
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 1.8rem;
    }
}

.pr-bottom-section {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    margin-left: 5%;
    margin-right: 5%;
    background: #F5F5F5;

    img {
        width: 50%;
    }

    p {
        margin-top: 100px;
        width: 47%;
        margin-left: 3%;
        text-align: left;
        font-size: 2.2rem;
    }
}

