//Patrick's styles

.pr-top-section {
    display: flex;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;

    @media @phone {
        display: flex;
        flex-direction: column;
    }

    img{
        width: 55%;
        padding-right: 20px;
        //border-radius: 50%; 
        
        @media @phone {
            width: 100%;
            margin-top: 10px;
            margin-bottom: 25px;
        }
    }

    .pr-get-started {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;

        @media @phone {
            width: 100%;
            border-top: 30px;
        }

        h2 {
            padding-bottom: 20px;
            font-size: 4rem;
        }

        button {
            color: @buttonColor;
            background: @buttonBackground;
            border: none;
            padding: 10px 50px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 1.6rem;
            border-radius: 4px;
            margin-bottom: 10px;
            
            &:hover {
             background: darken(@buttonBackground, 10%);
             color: darken(@buttonColor, 10%);
            }
        }   
    }
}

.pr-middle-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;

    p {
        width: 90%;
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 1.8rem;

        @media @phone {
            margin-top: 10px;
            margin-bottom: 20px;
            width: 90%;
        }
    }
}

.pr-bottom-section {
    display: flex;
    flex-direction: column;
    align-items: center;


    h3 {
        margin-bottom: 50px;
        font-weight: bold;

        @media @phone {
            margin-bottom: -20px;
        }
    }

    #pr-bottom-top-div {
        display: flex;
        flex-wrap: wrap;
        margin-left: 5%;
        margin-right: 5%;

        @media @phone {
            display: flex;
            flex-direction: column-reverse;
            margin-top: -40px;
        }
    
        img {
            width: 50%;

            @media @phone {
                width: 100%;
            }
        }
    
        p {
            margin-top: 100px;
            width: 47%;
            margin-left: 3%;
            text-align: left;
            font-size: 2.2rem;

            @media @phone {
                width: 90%;
                margin-bottom: 20px;
                margin-left: 0;
            }
        }
    }       
    
    #pr-bottom-middle-div {
        display: flex;
        flex-wrap: wrap;
        margin-left: 5%;
        margin-right: 5%;

        @media @phone {
            display: flex;
            flex-direction: column;
        }
    
        p {
            margin-top: 100px;
            width: 47%;
            //margin-left: 3%;
            text-align: left;
            font-size: 2.2rem;

            @media @phone {
                width: 90%;
                margin-bottom: 20px;
                margin-top: 20px;
            }
        }

        img {
            width: 50%;
            margin-left: 3%;

            @media @phone {
                width: 100%;
                margin-left: 0;
            }
        }
    }

    #pr-bottom-div {
        display: flex;
        flex-wrap: wrap;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 20px;

        @media @phone {
            display: flex;
            flex-direction: column-reverse;
        }

        img {
            width: 50%;

            @media @phone {
                width: 100%;
                margin-bottom: 40px;
            }
        }
    
        p {
            margin-top: 100px;
            width: 47%;
            margin-left: 3%;
            text-align: left;
            font-size: 2.2rem;

            @media @phone {
                margin-left: 0;
                width: 100%;
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }
    }
}



