.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 25px;


    .pr-logo {
        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
            width: 30px;
        }
    
        #clippy {
            margin-left: 5%;
            text-decoration: none; 
            color: black;
            font-size: 2.8rem;
            font-weight: bold;
        }
    }

    .links {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-left: -20%;

        @media @phone {
            margin-left: -40%;
        }

        a {
            .font();
            text-decoration: none;
            color: black;
            font-size: 2rem;
            padding-right: 50px;

            @media @phone {
                padding-right: 30px;
            }
        }

        button {
           color: @buttonColor;
           background: @buttonBackground;
           border: none;
           padding: 5px 25px;
           text-align: center;
           text-decoration: none;
           display: inline-block;
           font-size: 1.6rem;
           border-radius: 4px;

           &:hover {
            background: darken(@buttonBackground, 10%);
            color: darken(@buttonColor, 10%);
           }
        }
    }
}
