//Footer and Nav varibles

@footerBackground: #f5f5f5;
@buttonBackground: #415f85;
@buttonColor: white;
@border-line-color: #eee;

//marketing page variables

//about page variables

//media query variables

@tablet: ~"(max-width: 800px)";
@phone: ~"(max-width: 500px)";
